
ion-content {
    padding: 16px;

}


ion-header {
    padding: 20px;
}



ion-title {
    font-size: 40px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


p {
    font-size: 14px;
    font-style: oblique;
    //display:flex;
}


ion-item {
}

ion-label {
}

ion-input {
}


.dugmence {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    //background-color: #4CAF50;
}

.polja {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.tekstGore {
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container {
}

.login-form {
}

.register-text {
}