
ion-content.login-content {
  --padding-top: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-title {
  font-size: 32px;
  font-weight: bold;
  font-family: Cambria, Georgia, serif;
  text-align: center;
  padding: 15px;
  background-color: #b3ebe6;
}


.tekstGore {
  font-size: 18px;
  font-style: oblique;
  text-align: center;
  margin: 20px 0;
}


.login-container {
  display: flex;
  flex-direction: column;
}


.polja {
  --border-radius: 30px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #ccc;
  
  margin: 12px 0;
  --padding-start: 10px;
}


ion-input {
  --color: white;
  --padding-start: 10px;
  border-radius: 8px;
  text-align: center;
}


.dugmence {
  margin-top: 20px;
  --border-radius: 10px;
  align-self: center;
}


.register_dugme {
  margin-top: 20px;
  text-align: center;
}


.register_dugme p {
  margin-bottom: 8px;
}