<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input
      [(ngModel)]="name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input
      [(ngModel)]="username">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input
      type="email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="password">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    (click)="register()">

    Register

  </ion-button>

  <ion-button
    fill="clear"
    routerLink="/login">

    Already have an account?

  </ion-button>

</ion-content>